body
{
    overflow:auto;
    
    
}

#containerbackground 
{
    background-color:black;
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:1000;
    overflow:auto;
}

#content {
    
    background-color: azure;
    margin:10px;
    padding: 10px;
    height:auto;
    width:75%;
    word-wrap:break-word;
    
}
#content_img {
    
    height:auto;
    width:auto;
    padding-left:10px;

}

#sidebar {
    height: 500px;
    width: 200px;
    background-color: black;
    background-image: url('../img/sidebar.jpg');
    background-repeat:repeat-y;
    float: right;
}
#title
{
    font-size:25px;
    color:aqua;
    vertical-align: middle;
}
#navbarimg {
    background-image: url('../img/sidebar.jpg');
}

#nav-btn
{
    font-family: Impact;
}

#footerlayout
{
    background-image: url('../img/sidebar.jpg');
    clear: both;
    text-align:center;

    
}
#copyright
{
    color:white;
    float:right;
}